<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pagina personal de Abraham Aguilar</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/style.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Principal <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../librerias.html">Librerias</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../proyectos.html">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../acerca.html">Acerca</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>PosolJS </h1>
      <small>Validación sin tanto rollo, en español y sin necesidad de Jquery, Angular u otra libreria, aunque es compatible con todo.</small>
      <form id="form-registro" action="" novalidate th:object="${usuario}">

        <div class="col-md-4 mb-3">
					<label >Nombre(s)</label>
          <input id="inp-demo" required="required" class="form-control" type="text">
          <small id="inp-demo-error"></small>
				</div>

				<div class="col-md-4 mb-3">
					<label >Nombre(s)</label>
          <input th:field="*{nombres}" id="inp-nombre" error-mensaje="El nombre es obligatorio" error-mensaje-element="inp-error-nombre" required="required" class="form-control" type="text">
          <small id="inp-error-nombre"></small>
				</div>
				<div class="col-md-4 mb-3">
					<label class="label">Apellido(s)</label>
					<div class="control">
						<input th:field="*{apellidos}" error-mensaje="Los apellidos son obligatorios" error-mensaje-element="inp-error-apellido" required="required" class="form-control" type="text">
						<small id="inp-error-apellido"></small>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<label class="label">Fecha de nacimiento</label>
					<div class="control">
						<input th:field="*{fechaNacimientoString}" error-mensaje="La fecha de nacimiento es obligatoria" error-mensaje-element="inp-error-fecha" required="required" class="form-control" value="1990-01-01" type="date">
						<small id="inp-error-fecha"></small>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<label class="label">Correo electrónico</label>
					<div class="control">
						<input th:field="*{correoElectronico}" error-mensaje="Tu correo electronico sera tu credencial de acceso, no se comparte." error-mensaje-element="inp-error-correo" required="required" class="form-control" type="email">
						<small id="inp-error-correo"></small>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<label class="label">Contraseña</label>
					<div class="control">
						<input th:field="*{contrasena}" id="inp-contrasena" error-mensaje="La contraseña es obligatoria" error-mensaje-element="inp-error-contrasena" required="required" class="form-control" type="password">
						<small id="inp-error-contrasena"></small>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<label class="label">Confirmar contraseña</label>
					<div class="control">
						<input comparar-igual="inp-contrasena" error-mensaje="Tienes que confirmar la contraseña, tienen que ser iguales" error-mensaje-element="inp-error-conf-contrasena" required="required" class="form-control" type="password">
						<small id="inp-error-conf-contrasena"></small>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Ingresar</button>
				</div>
			</form>
    </div>

    <script type="text/javascript" src="../assets/app.js"></script>
    <script type="text/javascript" src="fuente.posol.js"></script>
    <script>
      let pRegistro = new Pozol('form-registro',[
        {id:'inp-demo',clase:'is-invalid', mensaje:'Demo error',elementoMensaje:'inp-demo-error'}
      ]);
    </script>
  </body>
</html>
